{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {# Translators: Title on Main Page #}
    {% trans "Home" as title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <h5 class="card-header">
                        {# Translators: Headline on Main Page #}
                        {% trans "Options" %}:
                    </h5>
                    <div class="card-body">
                        <a href="{% url 'upload' %}">Upload</a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}