<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'dj_pkcs7/css/style.css' %}">

</head>
<body role="document">

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

</body>
</html>
